body {
  //background-color: lightgrey;

  #app {
    height:100vh;
    color: darkslategrey;

    h1 {
      font-size: 60px;
      color: darkred;
    }

    .⚛Paragraph {
      color: blue;
    }
  }
}